.custom_button {
  text-decoration: none;
  color: #272727;
  font-family: sans-serif;
  font-size: 45px;
  border: 5px solid #272727;
  padding: 40px 80px;
  position: relative;
}

.custom_button:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff200;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform-origin: top left;
  transform: rotate(-90deg);
  transition: transform 1s;
}

.custom_button:hover:before {
  transform: rotate(0deg);
}